<div class="center">
<img src="{{ 'avrrio-logo.png' | asset_url }}" style="max-width:180px;"><br>
<h1>Avrrio Coffee</h1>
<p>Simple. Strong. Daily Fuel.</p>
<a href="/products/avrrio-french-roast" class="btn">Buy Now</a>
</div>